---
import "../styles/global.css";

type Props = {
	title?: string;
};

const { title = "Keyboard Layout Cheatsheet" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen bg-zinc-950">
		<slot />
	</body>
</html>
